.container {
  /* background-color: rosybrown; */
  width: 30rem;
  margin: auto;
}

.action {
  margin-top: 1.5rem;
  padding: 12px;
  text-align: start;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}
